<div class="row">
    <div class="col-md-6">
        <h4>Tranzakció adatok</h4>
        <form>
            <div class="mb-3">
              <label for="amount" class="form-label">Összeg:</label>
              <input type="text" class="form-control" id="amount" name="amount"
                [(ngModel)]="newTransaction.amount">
            </div>
            <div class="mb-3">
                <label for="sender" class="form-label">Küldő:</label>
                <select class="form-select" name="sender" id="sender" [(ngModel)]="newTransaction.sender">
                    @for(user of users; track user.id) {
                        <option [ngValue]="{ id: user.id }">{{ user.name }}</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="receiver" class="form-label">Fogadó:</label>
                <select class="form-select" name="receiver" id="receiver" [(ngModel)]="newTransaction.receiver">
                    @for(user of users; track user.id) {
                        <option [ngValue]="{ id: user.id }">{{ user.name }}</option>
                    }
                </select>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-primary" (click)="saveTransaction()">Mentés</button>
            </div>
        </form>
    </div>
</div>
